<div class="text-center">
    <h2>Artículo</h2>
    <img src="../../../assets/im.png" alt="Imagen del artículo 1" width="300" height="400">
    
    <div class="cantidad">
      <label>Cantidad:</label>
      <input type="number" >
    </div>
  
    <button >Agregar al carrito</button>
  </div>
  
  <div class="text-center">
    <h2>Artículo</h2>
    <img src="../../../assets/im2.webp" alt="Imagen del artículo 2" width="300" height="400">
    
    <div class="cantidad">
      <label>Cantidad:</label>
      <input >
    </div>
  
    <button >Agregar al carrito</button>
  </div>